In [58]:
from bs4 import BeautifulSoup as bs
import pandas as pd

In [8]:
ex2 = ''' 
<html> 
    <head> 
        <h1> 사야할 과일 
    </head> 
    <body> 
        <h1> 시장가서 사야할 과일 목록 
            <div> <p id='fruits1' class='name1' title='바나나'> 바나나 
                  <span class = 'price'> 3000원 </span> 
                  <span class = 'count'> 10개 </span> 
                  <span class = 'store'> 바나나가게 </span> 
                  <a href = 'https://www.banana.com'> banana.com </a> 
                  </p>
            </div> 
            <div> <p id='fruits2' class='name2' title='체리'> 체리 
                <span class = 'price'> 100원 </span> 
                <span class = 'count'> 50개 </span> 
                <span class = 'store'> 체리가게</span> 
                <a href = 'https://www.cherry.com'> cherry.com </a>
                </p> 
            </div> 
            <div> <p id='fruits3' class='name3' title='오렌지'> 오렌지
                <span class = 'price'> 500원 </span> 
                <span class = 'count'> 20개 </span> 
                <span class = 'store'> 오렌지가게</span> 
                <a href = 'https://www.orange.com'> orange.com </a>
                </p> 
            <div> 
    </body> 
</html> '''
soup=bs(ex2,'html')

In [25]:
soup.find("p",id='fruits2').find('span','count').text

' 50개 '

In [30]:
soup.select_one("p#fruits2 span.count").text

' 50개 '

In [36]:
[i.text for i in soup.select("span.count")]

[' 10개 ', ' 50개 ', ' 20개 ']

In [42]:
[i['href'] for i in soup.select("a")]

['https://www.banana.com', 'https://www.cherry.com', 'https://www.orange.com']

In [43]:
soup.select('p.name1')

[<p class="name1" id="fruits1" title="바나나"> 바나나
                   <span class="price"> 3000원 </span>
 <span class="count"> 10개 </span>
 <span class="store"> 바나나가게 </span>
 <a href="https://www.banana.com"> banana.com </a>
 </p>]

In [46]:
soup.select("p[title='바나나']")

[<p class="name1" id="fruits1" title="바나나"> 바나나
                   <span class="price"> 3000원 </span>
 <span class="count"> 10개 </span>
 <span class="store"> 바나나가게 </span>
 <a href="https://www.banana.com"> banana.com </a>
 </p>]

In [59]:
res=[]
for i in soup.select('a'):
    link = i['href']
    title=i.text 
    res.append([link,title])
pd.DataFrame(res)

                        0             1
0  https://www.banana.com   banana.com
1  https://www.cherry.com   cherry.com
2  https://www.orange.com   orange.com

In [69]:
res=[]
for i in soup.select('a'):
    tmp={}
    tmp['title']=i.text
    tmp['link']=i['href']
    res.append(tmp)

pd.DataFrame(res)

{'title': ' orange.com ', 'link': 'https://www.orange.com'}

In [ ]:
# 품명 가격 개수 거래처 거래처링크